body {
}

.Logo {
    width: 310px;
    text-align: center;
    color: mediumpurple;
    margin-left: auto;
    margin-right: auto;
}

.Logo img {
    width: 50px;
}

.LogoHeader {
    width: 100%;
}



